@model JobSearch.Models.JobModels.Profile

@{
    ViewBag.Title = "Details";
}

<html>
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
            <div class="col-lg-4">
                <img src="~/DSC_1681-150x150.jpg" />
                tekst
                teskt
            </div>
        </div>
    </div>
</body>
</html>
