@using Microsoft.AspNet.Identity
@{
    string User_name = string.Empty;
    HttpCookie reqCookies = Request.Cookies["userInfo"];
    if (reqCookies != null)
    {
        User_name = reqCookies["UserName"].ToString();
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Loged in as: " + User_name, "Index", "Portfolios", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>@Html.ActionLink("Log Out", "LogOff", "Profiles", routeValues: null, htmlAttributes: new { id = "logofflink" })</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Create", "Profiles", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Profiles", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
