@model IEnumerable<JobSearch.Models.JobModels.Comment>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    h4 {
        color: #0000EE;
        font-weight: bold;
    }
    h5{
        font-style:italic;
    }
</style>


<h2 style="color:#606060;">Comments</h2>
<hr />
    
@{ int k = 0;} 

@foreach (var item in Model)
{
    k = item.JobId;
    System.Diagnostics.Debug.WriteLine(k.ToString());
    <h4>Comment by @Html.DisplayFor(modelItem => item.Profile.Username):</h4>
    <h5>@Html.DisplayFor(modelItem => item.comment)</h5>
        
}
<hr />

@Html.ActionLink("Add new comment", "Create", null, new { @class = "btn btn-primary" })
<hr />
<div>
    @Html.ActionLink("Back", "Details","Jobs",new {id=k },null)
</div>